body, html {
  height: 100%;
  margin: 0;
  background-color: black;
}

.bgimg {
  height: 100%;
  color: white;
  font-family: sans-serif;
  font-size: 25px;
}

.topleft {
  position: absolute;
  top: 0;
  left: 16px;
}

.topleft p {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

img{
  margin-top: 16px;
  border-radius: 100%;
  height: 35px;
  width: 35px;
}

.bottomleft {
  position: absolute;
  bottom: 0;
  left: 16px;
}

.bottomCenter{
  position: absolute;
  bottom: 0;
  left: 45%;
}

a {
  color: #0070f3
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.middle p {
  color: #0070f3;
}

hr {
  margin: auto;
  width: 40%;
}
